{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Ad</h1>
            <p>№ {{ page_id }}</p>
        </div>
    </div>
{% endblock %}
